<?xml version="1.0"?>
<config>
    <modules>
        <Crypto_Adminhtml>
            <version>1.0.0</version>
        </Crypto_Adminhtml>
    </modules>
    <global>
        <blocks>
            <cryptoadminhtml>
                <class>Crypto_Adminhtml_Block</class>
            </cryptoadminhtml>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_renderer_price>Crypto_Adminhtml_Block_Widget_Grid_Column_Renderer_Price</widget_grid_column_renderer_price>
                    <catalog_product_helper_form_price>Crypto_Adminhtml_Block_Catalog_Product_Helper_Form_Price</catalog_product_helper_form_price>
                    <report_grid_column_renderer_currency>Crypto_Adminhtml_Block_Report_Grid_Column_Renderer_Currency</report_grid_column_renderer_currency>
                    <widget_grid_column_renderer_currency>Crypto_Adminhtml_Block_Widget_Grid_Column_Renderer_Currency</widget_grid_column_renderer_currency>
                    <sales_item_abstract>Crypto_Adminhtml_Block_Sales_Items_Abstract</sales_item_abstract>
                    <tax_rate_grid_renderer_data>Crypto_Adminhtml_Block_Tax_Rate_Grid_Renderer_Data</tax_rate_grid_renderer_data>
                    <catalog_product_edit_tab_options_option>Crypto_Adminhtml_Block_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cryptoadminhtml>
                <class>Crypto_Adminhtml_Helper</class>
            </cryptoadminhtml>
        </helpers>
        <models>
            <cryptoadminhtml>
                <class>Crypto_Adminhtml_Model</class>
            </cryptoadminhtml>
        </models>
        <resources>
            <cryptoadminhtml_setup>
                <setup>
                    <module>Crypto_Adminhtml</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cryptoadminhtml_setup>
            <cryptoadminhtml_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </cryptoadminhtml_write>
            <cryptoadminhtml_read>
               <connection>
                <use>core_read</use>
              </connection>
            </cryptoadminhtml_read>
        </resources>
    </global>
    <default />
</config>