<?xml version="1.0"?>
<config>
    <modules>
        <Crypto_Payment>
            <version>1.0.0</version>
        </Crypto_Payment>
    </modules>
	<frontend>
        <routers>
            <crypto_payment>
                <use>standard</use>
                <args>
                    <module>Crypto_Payment</module>
                    <frontName>cryptopayment</frontName>
                </args>
            </crypto_payment>
        </routers>
        <layout>
            <updates>
                <cryptopayment>
                    <file>cryptopayment.xml</file>
                </cryptopayment>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <cryptopayment>
                <class>Crypto_Payment_Block</class>
            </cryptopayment>
        </blocks>
        <models>
            <payment>
                <rewrite>
                    <method_abstract>Crypto_Payment_Model_Method_Abstract</method_abstract>
                </rewrite>
            </payment>
            <cryptopayment>
                <class>Crypto_Payment_Model</class>
            </cryptopayment>
        </models>
        <helpers>
            <cryptopayment>
                <class>Crypto_Payment_Helper</class>
            </cryptopayment>
        </helpers>
        <resources>
            <cryptopayment_setup>
                <setup>
                    <module>Crypto_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cryptopayment_setup>
            <cryptopayment_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </cryptopayment_write>
            <cryptopayment_read>
               <connection>
                <use>core_read</use>
              </connection>
            </cryptopayment_read>
        </resources>
    </global>
    <default>
        <payment>
            <coinbase>
                <active>1</active>
                <model>cryptopayment/method_coinbase</model>
                <title>Bitcoin (Coinbase)</title>
                <payment_action>authorize</payment_action>
                <callback_secret>generate</callback_secret>
                <interface>0</interface> <!-- iframe -->
            </coinbase>
         </payment>
    </default>
</config>