<?xml version="1.0"?>
<config>
    <modules>
        <Crypto_XmlConnect>
            <version>1.0.0</version>
        </Crypto_XmlConnect>
    </modules>
    <global>
        <blocks>
            <xmlconnect>
                <rewrite>
                    <adminhtml_connect_dashboard_lastorders>Crypto_XmlConnect_Block_Adminhtml_Connect_Dashboard_LastOrders</adminhtml_connect_dashboard_lastorders>
                    <customer_order_list>Crypto_XmlConnect_Block_Customer_Order_List</customer_order_list>
                </rewrite>
            </xmlconnect>
            <cryptoxmlconnect>
                <class>Crypto_XmlConnect_Block</class>
            </cryptoxmlconnect>
        </blocks>
        <helpers>
            <cryptoxmlconnect>
                <class>Crypto_XmlConnect_Helper</class>
            </cryptoxmlconnect>
            <xmlconnect>
                <rewrite>
                    <adminhtml_dashboard_order>Crypto_XmlConnect_Helper_Adminhtml_Dashboard_Order</adminhtml_dashboard_order>
                    <customer_order>Crypto_XmlConnect_Helper_Customer_Order</customer_order>
                </rewrite>
            </xmlconnect>
        </helpers>
        <models>
            <cryptoxmlconnect>
                <class>Crypto_XmlConnect_Model</class>
                <resourceModel>cryptoxmlconnect_resource</resourceModel>
            </cryptoxmlconnect>
            <cryptoxmlconnect_resource>
                <class>Crypto_XmlConnect_Model_Resource</class>
            </cryptoxmlconnect_resource>
        </models>
        <resources>
            <cryptoxmlconnect_setup>
                <setup>
                    <module>Crypto_XmlConnect</module>
                </setup>
            </cryptoxmlconnect_setup>
        </resources>
    </global>
</config>
