<?xml version="1.0"?>
<config>
    <modules>
        <Crypto_Tax>
            <version>1.0.0</version>
        </Crypto_Tax>
    </modules>
    <global>
        <blocks>
            <cryptotax>
                <class>Crypto_Tax_Block</class>
            </cryptotax>
        </blocks>
        <models>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Crypto_Tax_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
                    <sales_total_quote_subtotal>Crypto_Tax_Model_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
                    <calculation>Crypto_Tax_Model_Calculation</calculation>
                </rewrite>
            </tax>
            <cryptotax>
                <class>Crypto_Tax_Model</class>
            </cryptotax>
        </models>
        <resources>
            <cryptotax_setup>
                <setup>
                    <module>Crypto_Tax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cryptotax_setup>
            <cryptotax_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </cryptotax_write>
            <cryptotax_read>
               <connection>
                <use>core_read</use>
              </connection>
            </cryptotax_read>
        </resources>
    </global>
    <default />
</config>