<?xml version="1.0"?>
<config>
    <modules>
        <Crypto_Core>
            <version>1.0.0</version>
        </Crypto_Core>
    </modules>
    <global>
        <blocks>
            <cryptocore>
                <class>Crypto_Core_Block</class>
            </cryptocore>
        </blocks>
        <models>
            <core>
                <rewrite>
                    <store>Crypto_Core_Model_Store</store>
                </rewrite>
            </core>
            <cryptocore>
                <class>Crypto_Core_Model</class>
                <resourceModel>cryptocore_resource</resourceModel>
            </cryptocore>
            <cryptocore_resource>
                <class>Crypto_Core_Model_Resource</class>
            </cryptocore_resource>
        </models>
        <resources>
            <cryptocore_setup>
                <setup>
                    <module>Crypto_Core</module>
                </setup>
            </cryptocore_setup>
        </resources>
    </global>
    <!-- Insert BTC into the chain of installed system currencies -->
    <default>
        <system>
            <currency>
                <installed>AZN,AZM,AFN,ALL,DZD,AOA,ARS,AMD,AWG,AUD,BSD,BHD,BDT,BBD,BYR,BZD,BMD,BTN,BOB,BAM,BWP,BRL,GBP,BND,BGN,BUK,BIF,KHR,CAD,CVE,CZK,KYD,CLP,CNY,COP,KMF,CDF,CRC,HRK,CUP,DKK,DJF,DOP,XCD,EGP,SVC,GQE,ERN,EEK,ETB,EUR,FKP,FJD,GMD,GEK,GEL,GHS,GIP,GTQ,GNF,GYD,HTG,HNL,HKD,HUF,ISK,INR,IDR,IRR,IQD,ILS,JMD,JPY,JOD,KZT,KES,KWD,KGS,LAK,LVL,LBP,LSL,LRD,LYD,LTL,MOP,MKD,MGA,MWK,MYR,MVR,LSM,MRO,MUR,MXN,MDL,MNT,MAD,MZN,MMK,NAD,NPR,ANG,TRL,TRY,NZD,NIC,NGN,KPW,NOK,OMR,PKR,PAB,PGK,PYG,PEN,PHP,PLN,QAR,RHD,RON,ROL,RUB,RWF,SHP,STD,SAR,RSD,SCR,SLL,SGD,SKK,SBD,SOS,ZAR,KRW,LKR,SDG,SRD,SZL,SEK,CHF,SYP,TWD,TJS,TZS,THB,TOP,TTD,TND,TMM,USD,UGX,UAH,AED,UYU,UZS,VUV,VEB,VEF,VND,CHE,CHW,XOF,XPF,WST,YER,ZMK,ZWD,BTC</installed>
            </currency>
        </system>
    </default>
</config>
